<main role="main">

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                <div class="col-md-3 project-sb">
                    <div class="mb-4">
                        <h1>Links</h1>
                        <div class="my-2">
                            <a href="#" class="btn btn-primary">Live Demo</a>
                        </div>
                        <div class="my-2">
                            <a href="#" class="btn btn-primary">Github Link</a>
                        </div>
                    </div>
                    <hr>

                    <div class="mb-4">
                        <h1>Tags</h1>
                        <div class="my-2">
                            <span class="badge badge-danger">HTML</span>
                            <span class="badge badge-warning">JavaScript</span>
                            <span class="badge badge-primary">CSS</span>
                        </div>
                    </div>
                    <hr>

                    <div class="mb-4">
                        <h1>Related Projects</h1>
                        <div class="my-2">
                            <a href="#">JS Console</a>
                        </div>
                        <div class="my-2">
                            <a href="#">Number Guessing Game</a>
                        </div>
                    </div>
                    <hr>

                    <div class="mb-4">
                        <h1>Resources</h1>
                        <div class="my-2">
                            <a href="#">JS Console</a>
                        </div>
                        <div class="my-2">
                            <a href="#">Number Guessing Game</a>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="col-md-9">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item"><a href="/projects">Projects</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Data</li>
                        </ol>
                    </nav>
                    <h1>Number Guessing Game</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus labore facilis dolor, tenetur eveniet nulla rem error, ducimus illum sapiente doloribus cumque dolorum. Facere autem nam commodi eius quos tenetur?</p>
                    <div class="card mb-4 shadow-sm">
                        <img src="/images/kia.png" alt="">
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural
                                lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>